@charset "UTF-8";
/* GLOBAL */
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* BLOCKS */
.header {
  padding-top: 65px;
  background-image: url("../images/logo/logo-text.svg");
  background-position: 50% 23px;
  background-repeat: no-repeat;
  background-size: 101px 18px;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    padding: 32px 27px 10px 290px;
    background: none;
    min-height: 80px;
    box-sizing: border-box;
  }
}

.header__logo {
  position: absolute;
  top: 7px;
  left: 10px;
}
@media (min-width: 768px) {
  .header__logo {
    top: 12px;
    left: 15px;
  }
}

.main-nav {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    padding-bottom: 20px;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  border: none;
  right: 21px;
  top: -45px;
  background: url("../icons/stack.svg#burger");
  color: #f2f2f2;
  position: absolute;
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  display: block;
  background-image: url("../icons/stack.svg#cross");
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__list {
    border: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__list {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__list {
    position: static;
    display: flex;
  }
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__item {
    border: none;
  }
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  padding: 22px 5px 23px;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 7px;
    font-size: 18px;
    line-height: 24px;
  }
}

.promo {
  text-align: center;
  color: #ffffff;
}

.promo__container {
  padding-bottom: 135px;
  position: relative;
  margin-bottom: 4px;
}

.promo__container::before {
  content: "";
  width: 280px;
  height: 270px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: url("../images/promo/promo-can-mobile.png") no-repeat 0 0;
  z-index: 10;
}

.promo__wrapper {
  background: #4f4e4f url("../images/promo/promo-cat-mobile.jpg") no-repeat center top;
  padding: 26px 0 163px;
  position: relative;
}

.promo__wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #68b738;
  opacity: 0.85;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.promo__title {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  width: 300px;
  margin-bottom: 27px;
  position: relative;
  z-index: 10;
}

.promo__slogan {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  width: 300px;
  position: relative;
  z-index: 10;
}

.promo__link {
  margin: 0 20px;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  padding: 9px 0 10px;
}

.programs {
  background-color: #ffffff;
  padding: 20px;
}

.programs__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.programs__item {
  background-color: #f2f2f2;
  padding: 29px 20px 19px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 20px;
  z-index: 2;
}

.programs__item--slim::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background: url("../icons/stack.svg#cat-slim") no-repeat center;
  background-size: contain;
  top: 20px;
  left: 26px;
  z-index: 3;
}

.programs__item--pro::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background: url("../icons/stack.svg#cat-pro") no-repeat center;
  background-size: contain;
  top: 35px;
  left: 13px;
  z-index: 3;
}

.programs__title {
  margin: 0 0 20px 70px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  min-height: 47px;
}

.programs__description {
  margin: 0 0 20px;
  padding: 0 0 22px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  position: relative;
}

/* Стрелка для ссылки */
.programs__link::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 11px;
  background: url("../icons/stack.svg#icon-arrow");
  background-size: contain;
  margin-bottom: 2px;
  margin-left: 16px;
}

.guide {
  margin: 0 auto;
  padding: 20px;
}

.guide__title {
  margin: -20px 0 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
}

.guide__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.guide__item {
  position: relative;
  padding-left: 80px;
  height: 60px;
  margin-bottom: 20px;
}

.guide__item::before {
  content: "";
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.guide__description {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.guide__item--leaf::before {
  content: "";
  background-size: 30px 32px;
  background-image: url("../icons/stack.svg#icon-leaf");
}

.guide__item--glass::before {
  content: "";
  background-size: 26px 29px;
  background-image: url("../icons/stack.svg#icon-glass");
}

.guide__item--cutlery::before {
  content: "";
  background-size: 25px 30px;
  background-image: url("../icons/stack.svg#icon-cutlery");
}

.guide__item--scales::before {
  content: "";
  background-size: 27px 31px;
  background-image: url("../icons/stack.svg#icon-scales");
}

.example {
  margin: 9px auto 0;
  padding: 143px 0 0;
  background-color: #eaeaea;
  box-sizing: border-box;
}

.example__title {
  margin: -118px 0 0 20px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__text {
  margin: 0;
  padding: 40px 17px 0 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example-list {
  margin: 0 auto 0 6px;
  padding: 55px 20px 0 14px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  justify-content: space-between;
}

.example-list__item {
  flex: 1;
  height: 57px;
  text-align: center;
  border-radius: 3px;
  margin: -36px 0 0;
  padding: 15px 20px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.example-list__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example-list__label {
  display: block;
  padding: 6px 3px 0 1px;
  background-color: #eaeaea;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
}

.example__costs,
.example__price {
  margin: 34px 0 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.slider {
  width: 280px;
  height: 256px;
  margin: 20px auto;
  padding: 0;
  position: relative;
  border: 1px solid #cccccc;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
  overflow: hidden;
}

.slider__screen--before {
  z-index: 10;
  width: 50%;
  transition: width 1s ease;
  background-color: #eaeaea;
}

.slider--before .slider__screen--before {
  width: 100%;
}

.slider--after .slider__screen--before {
  width: 0;
}

.slider__control {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  z-index: 15;
  border: 2px solid #666666;
  background-color: #ffffff;
  transition: left 1s ease;
}

.slider__control::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 256px;
  background-color: #666666;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* button slider hidden line */
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(50% - 20px), 0% calc(50% - 20px), 0% calc(50% + 20px), 100% calc(50% + 20px), 100% 100%, 0% 100%);
}

.slider__control::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 18px;
  background: url("../icons/stack.svg#buttons-slider");
  background-position: center;
  top: 10px;
  left: 6px;
  z-index: 2;
}

.slider--before .slider__control {
  left: 100%;
}

.slider--after .slider__control {
  left: 0;
}

.footer {
  margin: 0 auto;
  padding: 0;
}

.footer__contacts {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 33px 0 0;
}

.contacts__wrapper {
  margin: 0;
  padding: 20px 0 0;
  display: flex;
  box-sizing: border-box;
}

.contacts__lead {
  margin: -9px 0 0;
  padding: 0 0 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  margin: -9px 0 0 5px;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contacts__map {
  margin: 0;
  padding: 27px 0 0;
  background-color: #ffffff;
}

.contacts__map-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
}

.footer__bottom {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 40px 20px;
}

.footer__logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer__logo-image {
  margin: -3px 0 0;
  padding: 0 0 19px;
  border-bottom: 1px solid #d9d9d9;
  width: 280px;
}

.social__list {
  margin: 0;
  padding: 17px 0 20px 73px;
  list-style: none;
  display: flex;
  gap: 24px;
}

.social__item {
  margin: 0;
  padding: 0;
}

.social__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.academy-wrapper {
  margin: -4px auto 0;
  padding: 0;
  display: flex;
  border-top: 1px solid #d9d9d9;
  width: 280px;
}

.academy-link {
  margin: 0 10px s 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.icon-academy {
  margin: 20px 0 -11px 136px;
  padding: 0;
}