/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/programs.scss";
@import "./blocks/guide.scss";
@import "./blocks/example.scss";
