.footer {
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.footer__logo {
  margin: 0 0 30px;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
