.guide {
  width: 280px;
  height: 380px;
  margin: 0 auto;
  padding: 20px;
}

.guide__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin-top: -40px;
  margin-bottom: 40px;
}

.guide__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.guide__item {
  display: flex;
  align-items: center;
  width: 280px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 20px;
}

.guide__description {
  width: 200px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-top: -47px;
  margin-bottom: -42px;
}

/* icons */

/* иконка листа */
.guide__item--leaf .square::before {
  content: "";
  width: 30px;
  height: 32px;
  background: url("../../images/guide/icon-leaf.svg") no-repeat center center;
  background-size: contain;
}

/* иконка стакана */
.guide__item--glass .square::before {
  content: "";
  width: 26px;
  height: 29px;
  background: url("../../images/guide/icon-glass.svg") no-repeat center center;
  background-size: contain;
}

/* иконка столовые приборы */
.guide__item--cutlery .square::before {
  content: "";
  width: 25px;
  height: 30px;
  background: url("../../images/guide/icon-cutlery.svg") no-repeat center center;
  background-size: contain;
}

/* иконка весы */
.guide__item--scales .square::before {
  content: "";
  width: 27px;
  height: 31px;
  background: url("../../images/guide/icon-scales.svg") no-repeat center center;
  background-size: contain;
}
