.header {
  padding-top: 65px;
  background-image: url("../../images/logo/logo-text.svg");
  background-position: center 23px;
  background-repeat: no-repeat;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 7px;
  left: 10px;
}
