.header {
  padding-top: 65px;
  background-image: url("../../images/logo/logo-text.svg");
  background-position: 50% 23px;
  background-repeat: no-repeat;
  background-size: 101px 18px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 32px 27px 10px 290px;
    background: none;
    min-height: 80px;
    box-sizing: border-box;
  }
}

.header__logo {
  position: absolute;
  top: 7px;
  left: 10px;

  @media (min-width: $tablet) {
    top: 12px;
    left: 15px;
  }
}
