.programs {
  background-color: #ffffff;
  padding: 20px;
}

.programs__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  min-height: 266px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 29px 20px 19px;
  position: relative;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $thema;
  top: 25px;
  left: 20px;
  z-index: 2;
}

/* Иконка кота 1 slim */
.programs__item--slim::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background: url("../../images/programs/cat-slim.svg") no-repeat center;
  background-size: contain;
  top: 20px;
  left: 26px;
  z-index: 3;
}

/* Иконка кота 2 pro */
.programs__item--pro::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background: url("../../images/programs/cat-pro.svg") no-repeat center;
  background-size: contain;
  top: 35px;
  left: 13px;
  z-index: 3;
}

.programs__title {
  margin: 0 0 20px 70px;
  font-family: $oswald;
  padding: 0;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.programs__title--pro {
  margin-top: 8px;
}

.programs__description--pro {
  margin-bottom: 0;
}

.programs__description {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 0 0 23px;
  margin: 0 0 19px;
  border-bottom: 1px solid #d9d9d9;
}


.programs__link {
  display: inline-block;
  align-items: center;
  margin-top: 19px;
  text-decoration: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  position: relative;
}

/* Стрелка для ссылки */
.programs__link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 12px;
  background: url("../../images/programs/icon-arrow.svg") no-repeat center;
  background-size: contain;
  margin-bottom: 1px;
  margin-left: 15px;
}
