.programs {
  background-color: #ffffff;
  padding: 20px;
}

.programs__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.programs__item {
  background-color: #f2f2f2;
  padding: 29px 20px 19px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__item::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $thema;
  top: 25px;
  left: 20px;
  z-index: 2;
}

.programs__item--slim::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background: url("../../icons/stack.svg#cat-slim") no-repeat 0 0;
  background-size: contain;
  top: 20px;
  left: 26px;
  z-index: 3;
}

.programs__item--pro::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background: url("../../icons/stack.svg#cat-pro") no-repeat center;
  background-size: contain;
  top: 35px;
  left: 13px;
  z-index: 3;
}

.programs__title {
  margin: 0 0 20px 70px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  min-height: 47px;
}

.programs__description {
  margin: 0 0 19px;
  padding: 0 14px 22px 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  position: relative;
}

/* Стрелка для ссылки */
.programs__link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 12px;
  background: url("../../icons/stack.svg#icon-arrow");
  background-size: contain;
  margin-bottom: 1px;
  margin-left: 15px;
}
