.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
}

.programs__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.programs__item {
  width: 280px;
  min-height: 266px;
  background-color: #f2f2f2;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.circle-slim {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Иконка кота 1 slim */
.programs__item--slim::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background: url("../../images/programs/cat-slim.svg") no-repeat center;
  background-size: contain;
  top: 20px;
  left: 26px;
  z-index: 3;
}

.circle-pro {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 24px;
  left: 21px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Иконка кота 2 pro */
.programs__item--pro::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background: url("../../images/programs/cat-pro.svg") no-repeat center;
  background-size: contain;
  top: 35px;
  left: 13px;
  z-index: 3;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 9px;
  margin-left: 70px;
  padding: 0;
}

.programs__title--pro {
  margin-top: 8px;
}

.programs__description--pro {
  margin-bottom: 0;
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-top: 30px;
  margin-left: 0;
  width: 227px;
  height: 90px;
  padding: 0;
}

.line {
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 22px;
}

.programs__link {
  display: inline-block;
  align-items: center;
  margin-top: 19px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  position: relative;
}

/* Стрелка для ссылки */
.programs__link::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 12px;
  background: url("../../images/programs/icon-arrow.svg") no-repeat center;
  background-size: contain;
  margin-bottom: 1px;
  margin-left: 15px;
}
