.social {
  margin: -14px 0 0;
  padding: 20px 0 14px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 24px;
  width: 132px;
}

.social__item {
  margin: 0;
  padding: 0;
}

.social__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
